body {
    background-image: url(../imagens/background.png);
    background-color: #C3ACD0;
    background-size: 100%;
    font-family: 'Sansita', sans-serif;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: #674188;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: auto;
}

form {
    display: flex;
    justify-content: start;
    padding: 10px;
    color: #F7EFE5;
    background-color: #674188;
}

label {
    margin-left: 5px;
}

nav {
    display: flex;
    background-color: #674188;
    justify-content: space-evenly;
    gap:100px;
}
a {  
    display: flex;
    text-decoration: none;
    color: #F7EFE5;
    padding: 3px;
}
.logo {
    width: 80px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.titulo {
    font-family: 'Rubik Puddles', cursive;
    display: flex;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    color: #F7EFE5;
    margin-left: 3%;
}

.box-1 {
    display: flex;
    align-items: center;
}

.imagem1 {
    width: 35%;
    margin: 2%;
    border: solid 5px #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.texto1{
    color: #F7EFE5;
    background-color: #674188;
    border-radius: 5px;
    padding: 2%;
    margin: 10px;
    
}