body {
    background-image: url(../imagens/background.png);
    background-color: #C3ACD0;
    background-size: 100%;
    font-family: 'Sansita', sans-serif;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: #674188;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: auto;
}

button {
    display: flex;
    margin: 0 auto;
}
.form1 {
    display: flex;
    justify-content: start;
    padding: 10px;
    color: #F7EFE5;
    background-color: #674188;
}

label {
    margin-left: 25px;
    padding: 5px;
}
textarea {
    margin: 5px 50px 5px 25px;
}

.links1 {
    display: flex;
    background-color: #674188;
    justify-content: space-evenly;
    gap:100px;
}
a {  
    display: flex;
    text-decoration: none;
    color: #F7EFE5;
    padding: 3px;
}
.logo {
    width: 80px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.titulo {
    font-family: 'Rubik Puddles', cursive;
    display: flex;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    color: #F7EFE5;
    margin-left: 3%;
}

.box-1 {
    display: flex;
    align-items: center;
}

.imagem1 {
    width: 35%;
    margin: 2%;
    border: solid 5px #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.texto1{
    color: #F7EFE5;
    background-color: #674188;
    border-radius: 5px;
    padding: 2%;
    margin: 10px;
    
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-image: radial-gradient(circle at 12.5% 12.5%, #9db6db 0, #a4b4da 8.33%, #aab2da 16.67%, #b1b1d8 25%, #b7afd6 33.33%, #bdaed3 41.67%, #c3acd0 50%, #c8abcc 58.33%, #cda9c8 66.67%, #d1a8c4 75%, #d5a7bf 83.33%, #d8a7ba 91.67%, #daa6b5 100%);
}
.title-form {
    color: #fff;
    font-size: 25px;
    display: inline;
    margin: 0 auto;
    padding: 10px;

}
